nav {
    .search-btn {
        background-color: $dark-blue;

        &:hover {
            background-color: $medium-blue !important;
        }
    }

    .cart-btn {
        color: $medium-blue;
        background-color: rgb(255, 188, 63);
        border: none;

        &:hover {
            background-color: rgb(255, 214, 137) !important;
        }
    }
}

.footer {
    background-color: black;
    padding: 20px;
    text-align: center;

    .text-secondary {
        color: white;
        transition: color 0.3s ease;
    }

    .text-secondary:hover {
        color: orange;
    }
}


