.size {
    position: relative;
    width: 53px;
    height: 58px;

    .p-radiobutton {
        .p-radiobutton-box {
            padding: 25px;
            border-radius: 3px;
        }

    }
    label {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        
    }
}