.product {
    position: relative;
    border-radius: 0 !important;
    box-shadow: none !important;

    .p-card-header {
        cursor: pointer;
    }

    .p-card-body {
        padding-left: 5px !important;

        .p-card-title {
            font-size: 16px;
            font-weight: 600;
            color: $dark-blue;
        }

        .p-card-subtitle {
            cursor: pointer;
            font-weight: 400;
            color: black;
            font-size: 15px;
        }

        .p-card-content {
            font-size: 14px;
            padding: 0;
            color: $light-blue;
        }
    }

    .p-card-footer {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
        padding: 4px 10px !important;
        background-color: white;
        font-size: 14px;
        cursor: pointer;
        top: 0;
        right: 0;
        transition: transform 0.3;
        border-radius: 0 0 0 10px;

        p {
            margin-top: -2px;
        }

        i:hover {
            transform: scale(1.1);
        }
    }
}